body { 
    --max-card-height: 420px; 
}
.card-product { 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
}
.card-product .card-body { 
    display:flex; 
    flex-direction:column; 
}
.card-product .price { 
    font-weight: 600; 
}
.badge-stock {
    font-size: .775rem; 
}
.input-qty { 
    width: 100%; max-width: 90px; 
}
.table td, .table th { 
    vertical-align: middle; 
}
#invoiceContent .table th, #invoiceContent .table td { 
    vertical-align: middle; 
}
.store-color {
    background-color: rgb(153, 107, 94);
    color: white;
    font-weight: bold;
}
.store-color-secondary {
    background-color: rgb(84, 84, 84);
    color: white;
    font-weight: bold;
}
.store-text{
    color: rgb(153, 107, 94);
    font-weight: bold;
}